@font-face {
	font-family: "w95fa";
	src: url(../static/font/w95fa.woff2);
}

* {
	padding: 0px;
	margin: 0px;
}
body {
	background-image: url("../static/images/Clouds.png");
	background-color: #008080;
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	font-family: "w95fa", sans-serif ;
}

button {
	background-color: #c3c3c3;
	@extend %border-effect;
	&:hover {
		background-color: red;
	}
}

.desktop {
	display: flex;
	height: 100vh;
	flex-direction: column;
}

.ui-layout {
	//position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	flex-grow: 1;
}

.window-ui {
	background-color: #c3c3c3;
	position: absolute;
	min-width: 100px;
	width: 400px;
	height: 400px;
	font-size: 20px;
	text-align: center;
	transition: all 30ms ease-in;
	@extend %border-effect;
	//flex-grow: 1;
}

.taskbar {
	//position: absolute;
	//bottom: 0;
	width: 100%;
	background-color: #c3c3c3;
	border-top: 3px solid white;
	height: 50px;
	display: flex;

	&__clock {
		border-style: solid;
		border-width: 2px;

		border-top-color: #828282;
		border-left-color: #828282;
		border-bottom-color: #ffffff;
		border-right-color: #ffffff;
		margin: 5px;
        padding: 0px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 75px;
	}

	&__button-group {
		flex-grow: 1;
	}

	&__button {
		display: flex;
		align-items: center;
		font-size: 18px;
		font-weight: 700;

		padding: 1px 6px 1px 6px;
		margin: 5px;
	}
}

.maximized {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	right: 0;
	z-index: 9999;
	box-sizing: border-box;
	position: relative;
}

.titlebar {
	display: flex;
	justify-content: space-between;
	height: min-content;
	align-items: center;
	background-color: #000082;
	padding: 2px;
	margin: 1px;

	&__button-group {
		display: flex;
		height: 100%;

		& :nth-child(3) {
			margin-left: 3px;
		}
	}

	&__title {
		flex-grow: 1;
		text-align: left;
		padding: 5px;
		color: white;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 12pt;
        font-weight: 500;
        text-rendering:optimizeLegibility ;
	}

	&__button {
		box-sizing: content-box;
		width: 13px;
		height: 11px;
		min-width: 13px;
		min-height: 11px;
		padding: 3px;
		display: flex;
		justify-content: center;
		align-items: center;
		& i {
			font-size: 100%;
		}
	}
}

%border-effect {
	border-style: solid;
	border-width: 2px;

	border-top-color: #ffffff;
	border-left-color: #ffffff;
	border-bottom-color: #000000;
	border-right-color: #000000;
}
