@font-face {
	font-family: "w95fa";
	src: url(../static/font/w95fa.woff2);
}

* {
	padding: 0px;
	margin: 0px;
}
body {
	background-image: url("../static/images/Clouds.png");
	background-color: #008080;
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	font-family: "w95fa", sans-serif ;
}

button {
	background-color: #c3c3c3;
	@extend %border-effect;
	&:hover {
		background-color: red;
	}
}

.desktop {
	display: flex;
	height: 100vh;
	flex-direction: column;

    &__page {
        flex-grow: 1;
    }

	&__icons {
		display: flex;
	}
}

.ui-layout {
	
}

.window-ui {
    background-color: #c3c3c3;
	position: absolute;
	min-width: 125px;
    min-height: 120px;
	width: 400px;
	height: 400px;
	font-size: 20px;
	text-align: center;
    top: 100px;
    left: 100px;
	//transition: all 30ms ease-in;
	@extend %border-effect;
    //transition: width 0.3s, height 0.3s, top 0.3s, right 0.3s, left 0.3s, bottom 0.3s;
	//flex-grow: 1;
    //resize: both;
    //overflow: scroll;
    //box-sizing: border-box;
}

.taskbar {
	//position: absolute;
	//bottom: 0;
	width: 100%;
	background-color: #c3c3c3;
	border-top: 3px solid white;
	height: 50px;
	display: flex;
    z-index: 999;
    user-select: none;

	&__clock {
		border-style: solid;
		border-width: 2px;

		border-top-color: #828282;
		border-left-color: #828282;
		border-bottom-color: #ffffff;
		border-right-color: #ffffff;
		margin: 5px;
        padding: 0px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 75px;
	}

	&__button-group {
		flex-grow: 1;
	}

	&__button {
		display: flex;
		align-items: center;
		font-size: 18px;
		font-weight: 700;

		padding: 1px 6px 1px 6px;
		margin: 5px;
	}
}

.maximized {
	width: 100%;
	height: calc(100% - 53px);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 998;
	box-sizing: border-box;
	position: absolute;
    order: -1;
    //resize: none;
    //overflow: hidden;
}

.titlebar {
	display: flex;
	justify-content: space-between;
	height: min-content;
	align-items: center;
	background-color: #000082;
	padding: 2px;
	margin: 1px;
    cursor: move;
    box-sizing: border-box;

	&__button-group {
		display: flex;
		height: 100%;

		& :nth-child(3) {
			margin-left: 3px;
		}
	}

	&__title {
		flex-grow: 1;
		text-align: left;
		padding: 5px;
		color: white;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 12pt;
        font-weight: 500;
        text-rendering: optimizeLegibility;
        user-select: none;
	}

	&__button {
		box-sizing: content-box;
		width: 13px;
		height: 11px;
		min-width: 13px;
		min-height: 11px;
		padding: 3px;
		display: flex;
		justify-content: center;
		align-items: center;
		& i {
			font-size: 100%;
		}
	}
}

.desktop-icon {
    //position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    margin: 10px 4px 3px;
    gap: 4px;
    z-index: 0;

    &__text {
        //text-align: left;
        font-size: 12pt;
        background-color: #008080;
        color: white;
        width: 80px;
        padding: 3px;
        max-height: 150px;
        word-wrap: break-word;
        box-sizing: border-box;
        border: 1px dotted #008080;
        user-select: none;

    }
    &__img {
        width: 32px;
		padding: 15px 24px 0px;

        &--clicked {
            filter: invert(30%) sepia(52%) saturate(1931%) hue-rotate(201deg) brightness(60%) contrast(94%);
        }
    }
    
    &--clicked {
        border: 1px dotted yellow;
        background-color: rgb(0, 0, 128);

    }

}

%border-effect {
	border-style: solid;
	border-width: 2px;

	border-top-color: #ffffff;
	border-left-color: #ffffff;
	border-bottom-color: #000000;
	border-right-color: #000000;
}
